/* Calendar.module.css */
.calendarContainer {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 25%;
    padding: 20px;
    background-color: #EFFAFF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .daysGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-bottom: 20px;
  }
  
  .day, .empty {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
    color: black;
  }
  
  .day {
    background-color:#EFFAFF;
  }
  
  .currentDay {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
    background-color: #C9EEFF;
    color: black;
  }

  .checkInButton {
    background-color: #55BBEB; 
    color:black; 
    border: none; 
    padding: 10px 20px;
    border-radius: 40px; 
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    font-weight: 500; 
    transition: background-color 0.3s ease; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
  }